<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('partials/header') %>

        <div class="container create-card">
            <h2 class="text-center mb-20">Edit Your Post</h2>
            <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
                <input type="text" value="<%= post.username %>" disabled>
                <textarea name="content" rows="6"><%= post.content %></textarea>
                <button class="btn btn-primary">Update Post</button>
            </form>
        </div>
</body>

</html>